<style>
    .gname{text-align: center;}
</style>
<div class="row">
  <div class="col">
    <script>
      window.gameName = "<%= @game %>";
      window.current_user = "<%= @conn.assigns.current_user %>"
    </script>
    <div id="root">
      <p class="name">Loading...</p>
    </div>
  </div>
</div>
