<div class="row">
    <div class="col">
            <%= form_for @conn, page_path(@conn, :create), fn f -> %>
        	<div class="form-group text-center">
        	<h4>	
        		<span class="name">Enter Game Name: </span><%= text_input f, :name, [placeholder: "Lobby Name"] %>
        		<%= submit "Enter Game", [class: "btn btn-dark btn-floating bts"] %>
        	</h4>
        	<% end %>
    </div>
</div>
