<div class="row">
    <div class="col">
            <%= form_tag("/session", method: :post) do %>
        	<div class="form-group text-center">
        		<h4>
        			<span class="name">Enter Username: </span><input type="text" name="username" placeholder="username"/>
	        		<button class="btn btn-primary">Login</button>
	        	</h4>
        	</div>
        	<% end %>
    </div>
</div>
